@model Business.Library.Profile

@{
    Layout = null;
}

<h3 class="text-center">Select Content Category</h3>
<div class="col-lg-12">
    <div class="col-lg-2 finder-option" onclick="location.href='@Url.Action("Index", "Test")/'" style="cursor: pointer;">
        <h3 class="text-center col-lg-1" style="float: left; width: 40%;">TEST Group</h3>
        <img class="finder-option-picture col-lg-2" src="~/Content/Images/GroupFinder/strike_icon.png" alt="Strike Icon" />
    </div>
</div>